@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

header#main-header {
    background: #fff; 
    height: 82px;
    border-bottom: 1px solid #BBB; 
}

header#main-header .header-content {
    width: 100%;
    max-width: 980px; 
    margin: 0 auto; 
    height: 82px;
    padding: 0 30px; 

    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.dropdown-toggle::after {
    color: #455A64;
}
.btn-transparent{
    background-color: unset;
    display: flex;
    align-items: center;
    height: auto;
}

.info-user{
    display: flex;
    align-items: center;
}

.info-user h4{
    color: #000;
    font-weight: 700;
}

header#main-header .header-content h1{
    margin-bottom: unset;
}

header#main-header .header-content h3{
    font-weight: 700;
    color: #FDA23C;
    margin-bottom: unset;
    padding-left: 20px;
    /*box-shadow: 10px 5px 5px rgba(0,0,0,.125);*/
}

header#main-header .header-content .logo{
    display: flex;
    align-items: center;
}

header#main-header .header-content .btn{
    margin: unset;
}